<!DOCTYPE html>
<html lang="{{ language }}">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{ description }}">
  <meta name="author" content="{{ author }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/themes/{{ theme }}/default.css">
  <title>{{ title }}</title>
</head>

<body>
  <header>
    <h1>{{ site_name }}</h1>
  </header>
  <nav>
      <ul>
        {% for page in menu_list %}
        <li>
          <a href="/index.py?p={{ page }}">
            {{ page | replace('_', ' ') | upper() }}
          </a>
        </li>
        {% endfor %}
      </ul>
  </nav>
  <main>
    {% if content %}
    <article>
      {{ content }}
    </article>
    {% else %}
    <section id="article-list">
      {% for article in articles %}
      <p>
        <a href="index.py?d={{ title }}&a={{ article['title'] }}">{{ article['title'] | upper() | replace('_', ' ') }}</a>
        <br>{{ article['desc'] }}
      </p>
      {% endfor %}
    </section>
    {% endif %}
  </main>
  <footer>{{ footer }}</footer>
</body>
</html>
