body {
  font-family: "Courier New", Courier, monospace;
  padding-left: 2em;
  padding-right: 2em;
}
a {
  color: blue;
  text-decoration: none;
}
code {
  font-weight: bold;
}
footer {
  padding-top: 2em;
  font-size: .8em;
  color: gray;
}
img {
  max-width: 30%;
  height: auto;
}
nav {
  margin-bottom: 2em;
}
pre {
  border: 1px solid gray;
  padding: .5em;
}
#article-list a {
  font-size: 1.3em;
}
